.nav-bar{
    height: 50px;
    width: 100%;
    display: flex;
}

.logo{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-right: 10px;
    margin-left: 10px;
}